body {
  background: linear-gradient(145deg, white 5%, #123456);
  background-size: cover;
  background-attachment: fixed;
}
.container {
  box-shadow: 7px -3px 20px rgb(68, 156, 197);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  background-color: #123456;
  color: white;
  scroll-behavior: auto;
  height: 70vh;
  width: 70vw;
  display: block;
  margin: auto;
  margin-top: 3rem;
  padding: 1%;
  overflow-y: scroll;
}
#addJoke {
  width: 72vw;
  height: 3rem;
  font-size: medium;
  background-color: cyan;
  outline: none;
  border: none;
  text-align: center;
  cursor: pointer;
  margin: auto;
  display: block;
  padding: 0.6%;
}
.list {
  font-family: "Montserrat", sans-serif;
  margin-top: 1rem;
  list-style: none;
}
.titleContainer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.title {
  font-family: "Montserrat", sans-serif;
  color: #123456;
  padding-top: 2rem;
  margin: auto;
  display: flex;
  height: 2rem;
  text-align: center;
}
#logo {
  height: 3rem;
  width: 3.7rem;
  margin: auto;
  display: block;
  margin-top: -0.2rem;
}
